<head>
    <title>Asdb Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
</head>




<div style="text-align: center;">
    <h3>A-Soul 直播图片搜索</h3>
    <a class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue" href="https://github.com/A-Soul-Database/PhotoSearch">Github</a>
    <a class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-light-green-a200" href="https://asdb.live">A-Soul Database</a><p></p>
    <form method="POST" action="/search" enctype=multipart/form-data>
        <input type="file" class="mdui-btn mdui-color-purple-100 mdui-ripple" accept="image/jpeg,image/jpg,image/png" name="file" value="选择图片">
        <button type="submit" class="mdui-btn mdui-color-pink-100 mdui-ripple">提交查询</button>
        
    </form>
    <img src="https://i.loli.net/2021/12/01/qLroIxYgnQsXPcD.png" alt="">
    <p>仅供学习使用，请勿用于商业用途。</p>
</div>